@{
    ViewBag.Title = "About";
}


Welcome @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }

    using (Html.BeginForm("AssignRole", "Home", FormMethod.Post, new { id = "assignRole" }))
    {
        <a href="javascript:document.getElementById('assignRole').submit()">Upgrade</a>
    }


}