@model IEnumerable<u21566641_HW04.Models.Crop>


@{
    ViewBag.Title = "Market";
}

<h2>Market</h2>

<div class="container">
    <div class="row">
        @foreach (var crop in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 px-3">
                <div>
                    <img src="~/Media/Images/@crop.ImageURL" class="gallery" height="220" width="220" />
                    <p>@crop.CropName</p>
                    <p>Category: @crop.CropCategory</p>
                    <p id="price">Price: R@(crop.CostPrice + (crop.CostPrice * crop.GetMarkup() )) / kg</p>
                    <a href="@Url.Action("AddToCart","Market", new {id=crop.CropID, category = crop.CropCategory})" class="btn-success">
                        Add to Cart
                    </a>
                </div>
            </div>
        }
    </div>
</div>

